---
import formatDate from "../config";
const allPosts = (await Astro.glob("../pages/posts/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
const numPosts = allPosts.length;
const { currentTitle } = Astro.props;
---

<h2>
  All {numPosts} Posts
</h2>
<ol reversed class="list-reset postlist flow-xs">
  {
    allPosts.map((post) => (
      <li class="postlist__item">
        <a
          href={post.url}
          class={
            currentTitle === post.frontmatter.title
              ? "postlist__link postlist__link--active"
              : "postlist__link"
          }
        >
          <time
            class="postlist__date text-date color-meta"
            datetime={post.frontmatter.pubDate}
          >
            {formatDate(post.frontmatter.pubDate)}
          </time>
          {post.frontmatter.title}
        </a>
      </li>
    ))
  }
</ol>
