---
import formatDate from "../config";
import { getCollection } from "astro:content";
const allPosts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const { currentTitle } = Astro.props;
const numPosts = allPosts.length;
---

<h2>
  {numPosts} posts so far
</h2>
<ol reversed class="list-reset postlist flow-xs">
  {
    allPosts.map((post) => (
      <li class="postlist__item">
        <a
          href={`/blog/${post.slug}/`}
          class={
            currentTitle === post.data.title
              ? "postlist__link postlist__link--active"
              : "postlist__link"
          }
        >
          <time
            class="postlist__date text-date color-meta"
            datetime={post.data.pubDate}
          >
            {formatDate(post.data.pubDate)}
          </time>
          {post.data.title}
        </a>
      </li>
    ))
  }
</ol>
