---
import { SITE_ATHOUR } from "../config";
const year = new Date().getFullYear();
---

<footer class="row row--page-footer">
  <div class="container">
    <div class="page-footer color-meta">
      <!-- <p>
        &copy;{year} Simon Coudeville. Built with <a href="#">Astro</a>. Browse
        the source code on <a href="#">GitHub</a>.
      </p> -->
      <!-- <p class="text-date">
        <span class="text-date">&copy;{year}</span>
        {SITE_ATHOUR}
      </p> -->
      <p class="readable">
        &copy;{year}
        {SITE_ATHOUR}
      </p>
      <ul class="readable list-reset">
        <!-- <li>
          <a href="/colophon">Colophon</a>
        </li> -->
        <li>
          <a href="/feed.xml">RSS</a>
        </li>
      </ul>
      <!-- <p>Built with <a href="https://astro.build">{Astro.generator}</a></p> -->

      <!-- <p>
        Handcrafted by Simon Coudeville with <a href="#">Astro</a>. Browse the
        source code on <a href="#">GitHub</a>.
      </p> -->
      <!-- <p>
        Last build August 16, 2023 with <a href="#">Astro</a>. Browse the source
        code on <a href="#">GitHub</a>.
      </p> -->
      <!-- <p>
        <a
          class="badge"
          href="https://www.websitecarbon.com/website/simoncoudeville-be/"
        >
          0.03 g of CO2
        </a>
      </p> -->
    </div>
  </div>
</footer>
<style>
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 var(--global-whitespace);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--global-whitespace);
  }
</style>
