---
import { SITE_ATHOUR } from "../config";
import { Image } from "astro:assets";
import avatarImg from "../img/test-avatar-3.png";
// import avatarImg from "../img/me-3.png";
import avatarImg2 from "../img/me.png";
// import avatarImg2 from "../img/me-5.png";
import favicon from "../img/favicon.png"
const { headerTitle, headerMeta, headerClass, headerType = "homepage" } = Astro.props;
// headerType can be:
// - "homepage" (h1: title, p: meta)
// - "blog-detail" (h1: title, p: meta)
// - "page" (p: title, h1: meta)
---

<header class="row row--top" id="top">
  <div class="container page-header">
    <div class="page-header__content">
      {headerType === "page" ? (
        <p class="page-header__title">
          {headerTitle}
        </p>
      ) : (
        <h1 class="page-header__title">
          {headerTitle}
        </h1>
      )}

      {headerType === "page" ? (
        <h1 class="page-header__meta text-date">
          <Fragment set:html={headerMeta} />
        </h1>
      ) : (
        <p class="page-header__meta text-date">
          <Fragment set:html={headerMeta} />
        </p>
      )}
    </div>
    {/*
    https://minimalism.com/journal
    <div class="page-header__visual">
      <svg viewBox="0 0 80 80" fill="none" role="img" xmlns="http://www.w3.org/2000/svg" style="fill: var(--avatar); filter:blur(8px)">
        <path d="M32.414 59.35L50.376 70.5H72.5v-71H33.728L26.5 13.381l19.057 27.08L32.414 59.35z" fill="#727c7a" transform="translate(0 0) rotate(261 40 40) scale(1.5)"></path>
        <path style="mix-blend-mode: overlay;" d="M22.216 24L0 46.75l14.108 38.129L78 86l-3.081-59.276-22.378 4.005 12.972 20.186-23.35 27.395L22.215 24z" fill="#aab3b1" transform="translate(0 0) rotate(356 40 40) scale(1.2)"></path>
      </svg>
    </div>
    */}

    {/*
    <a href="/" class="page-header__me">
      <Image
        src={avatarImg}
        alt={`Avatar of ${SITE_ATHOUR}`}
        width="200"
      />
    </a>
    */}
  </div>
</header>
