---
import { SITE_ATHOUR } from "../config";
import { Image } from "astro:assets";
import avatarImg from "../img/test-avatar-3.png";
const { headerTitle, headerMeta, headerClass } = Astro.props;
---

<header class={`page-header page-header--${headerClass}`} id="top">
  <a class="page-header__link" href="/">
    <Image
      class="page-header__avatar"
      src={avatarImg}
      alt={`Avatar of ${SITE_ATHOUR}`}
      width="100"
    />
  </a>
  <div class="page-header__content">
    <h1 class="page-header__title">
      {headerTitle}
    </h1>
    <p class="page-header__meta color-meta">
      <Fragment set:html={headerMeta} />
    </p>
  </div>
</header>
