---
// import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
import Blogposts from "../components/Blogposts.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, titleWidth } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header headerDate={pubDate} headerTitle={title} />
  <article class="row pt-clear mt-clear">
    <div class="container flow">
      <header class="article-header">
        <!-- <Doodle /> -->
        <h1 class="article-title js-article-title">{title}</h1>
      </header>
      <slot />
    </div>
  </article>
  <section class="row">
    <div class="container flow">
      <About />
    </div>
  </section>
  <section class="row">
    <div class="container flow">
      <Blogposts currentTitle={title} />
    </div>
  </section>
</BaseLayout>
<style define:vars={{ titleWidth }}>
  h1 {
    max-width: var(--title-width);
  }
</style>
