---
import { formatDate } from "../config";
import BaseLayout from "./BaseLayout.astro";
import Blogposts from "../components/Blogposts.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, titleWidth } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="row pt-clear mt-clear">
    <div class="container flow">
      <Header
        headerTitle={title}
        headerMeta={`Published on <time datetime=${pubDate} class='text-date'>${formatDate(
          pubDate
        )}</time>`}
      />
      <!-- <Header headerMeta={formatDate(pubDate)} headerTitle={title} /> -->
      <div class="readable flow">
        <slot />
      </div>
    </div>
  </article>
  <section class="row">
    <div class="container flow">
      <About />
    </div>
  </section>
  <section class="row">
    <div class="container flow">
      <Blogposts currentTitle={title} />
    </div>
  </section>
</BaseLayout>
