---
import "../styles/global.css";
import Blogposts from "../components/Blogposts.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import { SITE_ATHOUR } from "../config";
const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;
const pageDescription = frontmatter.description;
const pageDate = frontmatter.pubDate;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>{pageTitle} - {SITE_ATHOUR}</title>
  </head>
  <body>
    <svg
      class="canvas"
      viewBox="0 0 1000 500"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <defs>
        <style>
          .fill-2,
          .fill-4 {
            fill: var(--global-color-sky-blue-light);
            opacity: 0.5;
          }
          .fill-0,
          .fill-4 {
            fill: var(--global-color-rose-light);
            opacity: 0.5;
          }
          .fill-1,
          .fill-3,
          .fill-5 {
            fill: var(--global-color-lilac-light);
            opacity: 0.5;
          }
          @media (prefers-color-scheme: dark) {
            .fill-2,
            .fill-4 {
              fill: var(--global-color-sky-blue-dark);
              opacity: 0.5;
            }
            .fill-0,
            .fill-4 {
              fill: var(--global-color-rose-dark);
              opacity: 0.5;
            }
            .fill-1,
            .fill-3,
            .fill-5 {
              fill: var(--global-color-lilac-dark);
              opacity: 0.5;
            }
          }
        </style>
        <filter id="blur" x="-50%" y="-100%" width="300%" height="300%">
          <feGaussianBlur in="SourceGraphic" stdDeviation="100">
          </feGaussianBlur>
        </filter>
        <!-- <filter id="blur" x="0" y="0" width="200%" height="200%">
          <feGaussianBlur in="SourceGraphic" stdDeviation="100">
          </feGaussianBlur>
        </filter> -->
        <!-- <filter id="blur" x="-100%" y="-100%" width="400%" height="400%">
          <feGaussianBlur in="SourceGraphic" stdDeviation="200">
          </feGaussianBlur>
        </filter> -->
      </defs>
    </svg>
    <Header headerDate={pageDate} headerTitle={pageTitle} />
    <article class="row pt-clear mt-clear">
      <div class="container flow">
        <header class="article-header">
          <h1 class="article-title js-article-title">{pageTitle}</h1>
        </header>
        <slot />
      </div>
    </article>
    <section class="row">
      <div class="container flow">
        <About />
      </div>
    </section>
    <section class="row">
      <div class="container flow">
        <Blogposts currentTitle={pageTitle} />
      </div>
    </section>
    <Footer />
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
