---
import "../styles/global.css";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];
import Blogposts from "../components/Blogposts.astro";
import Header from "../components/Header.astro";
import Doodle from "../components/doodle.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import { SITE_ATHOUR } from "../config";
const { title, description, pubDate, seed } = Astro.props;
// generate a random number between 0 and 100000
// const seed = Math.floor(Math.random() * 100000);
const flecksWorkletURL = new URL("/src/scripts/flecks.js", Astro.url);
const powderedGradientWorkletURL = new URL(
  "/src/scripts/powdered-gradient.js",
  Astro.url
);
const staticGradientWorkletURL = new URL(
  "/src/scripts/static-gradient.js",
  Astro.url
);
const cornerGradientWorkletURL = new URL(
  "/src/scripts/corner-gradient.js",
  Astro.url
);
---

<style define:vars={{ title, articleSeed: seed }}></style>
<script
  define:vars={{
    flecksWorkletURL,
    powderedGradientWorkletURL,
    staticGradientWorkletURL,
    cornerGradientWorkletURL,
  }}
>
  if ("paintWorklet" in CSS) {
    CSS.paintWorklet.addModule(flecksWorkletURL);
    CSS.paintWorklet.addModule(powderedGradientWorkletURL);
    CSS.paintWorklet.addModule(staticGradientWorkletURL);
    CSS.paintWorklet.addModule(cornerGradientWorkletURL);
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} - {SITE_ATHOUR}</title>
  </head>
  <body>
    <Header headerDate={pubDate} headerTitle={title} />
    <article class="row pt-clear mt-clear">
      <div class="container flow">
        <header class="article-header">
          <!-- <Doodle /> -->
          <h1 class="article-title js-article-title">{title}</h1>
        </header>
        <slot />
      </div>
    </article>
    <section class="row">
      <div class="container flow">
        <About />
      </div>
    </section>
    <section class="row">
      <div class="container flow">
        <Blogposts currentTitle={title} />
      </div>
    </section>
    <Footer />
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
