---
import { formatDate } from "../config";
import BaseLayout from "./BaseLayout.astro";
import Blogposts from "../components/Blogposts.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header
    headerTitle={title}
    headerMeta={`<time datetime=${pubDate} class='text-date'>${formatDate(
      pubDate
    )}</time>`}
    headerType="blog-detail"
  />
  <main class="row">
    <article class="row">
      <div class="container readable flow">
        <slot />
      </div>
    </article>
    <section class="row">
      <div class="container flow">
        <h2>Hi, I'm Simon</h2>
        <About />
      </div>
    </section>
    <section class="row">
      <div class="container flow">
        <Blogposts currentTitle={title} />
      </div>
    </section>
  </main>
</BaseLayout>
