---
import "../styles/global.css";
import Blogposts from "../components/Blogposts.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;
const pageDescription = frontmatter.description;
const pageDate = frontmatter.pubDate.slice(0, 10);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle} - Simon Coudeville</title>
  </head>
  <body>
    <Header headerDate={pageDate} headerTitle={pageTitle} />
    <article class="row pt-clear">
      <div class="container flow">
        <header class="article-header">
          <h1 class="js-article-title">{pageTitle}</h1>
        </header>
        <slot />
      </div>
    </article>
    <section class="row">
      <div class="container flow">
        <About />
      </div>
    </section>
    <section class="row">
      <div class="container flow">
        <Blogposts currentTitle={pageTitle} />
      </div>
    </section>
    <Footer />
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
